
<div class="section">
  <ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Nearby Nature</a></li>
  </ul>
  <div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
      <!-- <form> -->
        <label>Form URL
          <input id="input-url" type="text" placeholder="https://goo.gl/forms/UNIQUE_ID" />
        </label>
        <label>Graph Embed Code
          <textarea id="input-embedcode" class="font-embedcode" rows="3" placeholder="<iframe></iframe>"></textarea>
        </label>
        <input id="input-generate" type="button" class="button" value="Generate Code" />
      <!-- </form> -->
      <label>
        Generated Code
        <textarea id="textarea-output" class="font-embedcode" rows="3" placeholder="<a></a>"></textarea>
      </label>
    </div>
  </div>
</div>
