
<div class="section">
  <ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#nxnpanel" aria-selected="true">NxN</a></li>
    <li class="tabs-title"><a href="#panel1" aria-selected="true">Form &amp; Chart</a></li>
    <li class="tabs-title"><a href="#panel2" aria-selected="true">Image</a></li>
    <li class="tabs-title"><a href="#panel3" aria-selected="true">Tabs</a></li>
  </ul>
  <div class="tabs-content" data-tabs-content="example-tabs">
    <!-- TAB: Nearby Nature -->
    <div class="tabs-panel is-active" id="nxnpanel">
      <h3>Nearby Nature</h3>
      <p><a target="_blank" href="http://maps.cmucreatelab.org/pittsburgh/map">Annotatable Maps</a></p>
      <p>description</p>
      <p><a target="_blank" href="/how_to">How To</a></p>
    </div>
    <!-- TAB: Form + Data -->
    <div class="tabs-panel" id="panel1">
      <h3>Embed</h3>
      <!-- <form> -->
        <label>Form URL
          <input id="input-url" type="text" placeholder="https://goo.gl/forms/UNIQUE_ID" />
        </label>
        <label>Graph Embed Code
          <textarea id="input-embedcode" class="font-embedcode" rows="3" placeholder="<iframe></iframe>"></textarea>
        </label>
        <input id="input-generate" type="button" class="button" value="Generate Code" />
      <!-- </form> -->
      <label>
        Generated Code
        <textarea id="textarea-output" class="font-embedcode" rows="3" placeholder="<a></a>"></textarea>
      </label>
    </div>
    <!-- TAB: Image -->
    <div class="tabs-panel" id="panel2">
      <!-- Image -->
      <h3>Embed</h3>
      <!-- <form> -->
        <label>Image URL
          <input id="input2-imgurl" type="text" placeholder="https://example.com/image.jpg" />
        </label>
        <input id="input2-generate" type="button" class="button" value="Generate Code" />
      <!-- </form> -->
      <label>
        Generated Code
        <textarea id="textarea2-output" class="font-embedcode" rows="3" placeholder="<a></a>"></textarea>
      </label>
    </div>
    <!-- TAB: Tabs -->
    <div class="tabs-panel" id="panel3">
      <!-- Tabs -->
      <h3>Embed</h3>
      <!-- <form> -->
        <div id="input3-tabs">
        <!-- <div id="input3-tab1" style="border:1px solid #e6e6e6;padding: 15px;">
          <label>Tab Title
            <input id="input3-title" type="text" placeholder="Title" />
          </label>
          <label>Tab Content
            <textarea id="input3-content" class="font-embedcode" rows="3" placeholder="HTML code goes here"></textarea>
          </label>
        </div> -->
        </div>
      <!-- </form> -->
      <br/>
      <input id="input3-delete" type="button" class="button alert" value="Delete" />
      <input id="input3-add" type="button" class="button success" value="Add" />
      <br/>
      <hr/>
      <input id="input3-generate" type="button" class="button" value="Generate Code" />
      <label>
        Generated Code
        <textarea id="textarea3-output" class="font-embedcode" rows="3" placeholder="<a></a>"></textarea>
      </label>
    </div>
  </div>
</div>
